[Unit]
Description=Spring Boot App

[Service]
User=ubuntu
ExecStart=/usr/bin/java -jar /home/ubuntu/backend/app.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
